*{
	margin: 0px;
	padding: 0px;
}
body,html{
	margin: 0px;
	padding: 0px;
}
#home {
	background: #ffc107;
	color: white;
}
.img{
	width: 95%;
}
.titulo{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}
.caixa{
	padding: 60px 0px;
	border: 1px solid #e5e5e5;
}
footer p a{
	margin: 5px 10px;
}
 

.rotate-out-hor {
	animation: rotate-out-hor 0.5s 1s ;
}
@keyframes rotate-out-hor {
	0% {
	  transform: rotateX(360deg);
	  opacity: 1;
	}
	100% {
	  transform: rotateX(0deg);
	  opacity: 0;
	}
  }
  
 

